rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /households/{householdId} {

      match /mealEntries/{entryId} {
        allow read: if true;
        allow create, update: if request.resource.data.keys().hasAll(
               ['date', 'member', 'mealType', 'state']
             )
          && request.resource.data.state in ['none', 'attending']
          && request.resource.data.mealType in ['lunch', 'dinner'];
        allow delete: if true;
      }

      match /members/{memberId} {
        allow read: if true;
        allow create, update: if request.resource.data.keys().hasAll(['name', 'dietary'])
          && request.resource.data.dietary in ['Normal', 'Vegetarian'];
        allow delete: if true;
      }

      match /settings/{doc=**} {
        allow read, write: if true;
      }
    }
  }
}
